[submodule "api_server"]
	path = archive/go/api_server
	url = https://github.com/jiangfz1997/chatroom-api-server.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/jiangfz1997/chatroom-frontend.git
[submodule "persist_worker"]
	path = persist_worker
	url = https://github.com/jiangfz1997/chatroom-persist-worker.git
[submodule "api_server_java"]
	path = api_server_java
	url = https://github.com/jiangfz1997/chatroom-api-server-java.git
